services:
  prefect_simplefin:
    build:
      context: .
      dockerfile: Dockerfile-worker
    container_name: prefect_simplefin
    restart: unless-stopped

    # 2. Run the python script directly.
    # Since we use .serve(), this command effectively "starts the worker"
    command: ["python", "flows/update_accounts.py"]

    networks:
      - prefect       # To talk to API
      - simplefin_db  # To talk to Postgres

    environment:
      PREFECT_API_URL: http://prefect_server:4200/api
      PYTHONUNBUFFERED: "1"

networks:
  prefect:
    external: true
  simplefin_db:
    external: true
