services:
  prefect_simplefin:
    build:
      context: .
      dockerfile: Dockerfile-worker
    container_name: prefect_simplefin
    restart: unless-stopped
    command: ["python", "flows/serve.py"]

    networks:
      - prefect       # To talk to API
      - simplefin_db  # To talk to Postgres

    environment:
      PREFECT_API_URL: http://prefect_server:4200/api
      POSTGRES_HOST: simplefin_db

networks:
  prefect:
    external: true
  simplefin_db:
    external: true
